<div class="app-container">
    <nav class="nav-container">
      <span class="left"><h1>Grievance Cell</h1></span>
  
      <h4>
        <a [routerLink]=""><span class="right">Logout</span></a>
        <a href="url"><span class="right">Add+</span></a>
        <a href="url"><span class="right">Home</span></a>
      </h4>
    </nav>
  
    <div class="content-container">
      <section class="left-content">
        <div class="link-container">
          <a href="#">Active</a>
          <a href="#">Solved</a>
        </div>
        <div class="issues">
          <!-- Add clas name solved to all the solved issues -->
          <div class="issue-box ">
            <h3>#202103114</h3>
            <div class="issue-content">
              <h4>Issue</h4>
              <p>Damage Product</p>
            </div>
            <div class="issue-content">
              <h4>Created On</h4>
              <p>18/03/2021</p>
            </div>
            <div class="issue-content">
              <h4>Developer</h4>
              <p>Mr. XYZ</p>
            </div>
            <div class="issue-content">
              <h4>Status</h4>
              <p>Active</p>
            </div>
          </div>
          <div class="issue-box ">
            <h4>#202103114</h4>
            <div class="issue-content">
              <h4>Issue</h4>
              <p>Damage Product</p>
            </div>
            <div class="issue-content">
              <h4>Created On</h4>
              <p>18/03/2021</p>
            </div>
            <div class="issue-content">
              <h4>Developer</h4>
              <p>Mr. XYZ</p>
            </div>
            <div class="issue-content">
              <h4>Status</h4>
              <p>Active</p>
            </div>
          </div>
          <div class="issue-box">
            <h4>#202103114</h4>
            <div class="issue-content">
              <h4>Issue</h4>
              <p>Damage Product</p>
            </div>
            <div class="issue-content">
              <h4>Created On</h4>
              <p>18/03/2021</p>
            </div>
            <div class="issue-content">
              <h4>Developer</h4>
              <p>Mr. XYZ</p>
            </div>
            <div class="issue-content">
              <h4>Status</h4>
              <p>Active</p>
            </div>
          </div>
        </div>
      </section>
      <section class="right-content">
        <h2>User</h2>
        <div class="right-text">
          <h4 style="color:yellow" >Total Issue   5</h4>
          <h4 style="color:red">Active Issue   5</h4>
          <h4 style="color: green;">Solved Issue   5</h4></div>
        
      </section>
    </div>
  </div>
  